<h1>movie not found</h1>
<form method="POST" action="/menu">  
    <input type="submit" value="return to menu" />  
      
  </form> 
  <form method="GET" action="/movies/search">  
    
    <input type="submit" value="return to to search" />  
  </form> 

